.navbar
  .navbar-inner
    .container
      %ul.nav
        %li{:class => ('active' if active?('Home'))}= link_to 'Home', root_path
        %li{:class => ('active' if active?('störmer küchens'))}= link_to 'störmer küchens', kitchens_path(type: 'Stormer')
        %li{:class => ('active' if active?('Hand Made Furniture'))}= link_to 'Hand Made Furniture', kitchens_path(type: 'HandMade')
        %li{:class => ('active' if active?('Contact'))}= link_to 'Contact', '/contact'
