#featured-kitchens.carousel.carousel-fade
  .carousel-inner
    - @slides.each do |slide|
      %div{class: slide.classes}
        = image_tag slide.image.url(:featured), alt: slide.alt
  .carousel-caption
    = raw(@blurb)
