.home
  #featured.featured-kitchens
    .kitchens
      - @slides.each do |slide|
        = image_tag slide.image.url(:featured), alt: slide.alt, :class => 'kitchen'
    .blurb
      = raw(@blurb)
  .brands
    %ul.brand-list
      %li.brand.brand-bosch Bosch
      %li.brand.brand-sensio Sensio
      %li.brand.brand-kohler Kohler
      %li.brand.brand-abode Abode
      %li.brand.brand-arp ARP
      %li.brand.brand-caple Caple
      %li.brand.brand-miele Miele
