.kitchens-index
  .page-header
    %h1 Hand Made Furniture
  .slider-container= render 'kitchens/slideshow', locals: {kitchens: kitchens}
  .description
    .well= raw(description)

  .final-message
    .well
      :markdown
        We understand that quality is paramount to you and your customers. That
        is why Classique Kitchens strive to supply top quality furniture that
        will live up to your expectations and stand the test of time.

        Our minimum standards for kitchen, utility, bedroom and study cabinet
        construction are as follows;

      .column
        :markdown
          ### Framed construction:

           * 30mm thick doors
           * 18mm carcass - sides, bases, rear panels \*
           * 18mm shelves (timber lipped if required) \*
           * Slow close drawer runners
           * Solid dovetailed drawer boxes
           * Magnetic catches pre fitted on cabinets (either traditional or concealed magnets)
           * Solid butt hinges
           * Adjustable feet
           * Co-ordinating shelf sockets and pegs (pre-drilled as required)
           * 6mm glass shelves with polished edges in glazed cabinets
           * Supplied primed or lacquered
           * All units supplied fully assembled
           * Wall hanging brackets where applicable

          \* Oak, walnut, ash, maple mfc are standard.  
          \* Oak, walnut, ash, maple veneered mdf is available for a small supplement  
          \* Coloured carcass also available.

      .column
        :markdown
          ### Lay on construction:

           * 18mm thick doors
           * 18mm carcass - sides, bases, rear panels\*
           * 18mm shelves (timber lipped if required)\*
           * Slow close drawer runners
           * Solid dovetailed drawer boxes
           * Slow close hinges
           * Adjustable feet
           * Co-ordinating shelf sockets and pegs (pre-drilled as required
           * 6mm glass shelves with polished edges in glazed cabinet
           * Supplied primed or lacquere
           * All units supplied fully assemble
           * Wall hanging brackets where applicab

           \* Oak, walnut, ash, maple mfc are standard.  
           \* Oak, walnut, ash, maple veneered mdf is available for a small supplement  
           \* Coloured carcass also available.

          A spray finish is available for a small supplement if required.

      .the-rest
        :markdown

          * * * * *

          ### Carcass material
          We use the latest ranges from Egger and Kronospan of both melamine
          faced chipboard and "real wood" veneered MDF to give maximum choice and
          ensure a quality finish. If your client requires a co-ordinating or
          contrasting carcass for an individual look just ask. All carcasses are
          finished off using "real wood" edging to all raw edges.

          * * * * *

          ### Timber

          The majority of the timber used is handpicked to ensure it suits the
          specification entirely and that wherever possible the colour and
          grain runs through evenly. We are willing to use any timber necessary
          to suit the client's needs - oak, maple, walnut, ash, chestnut,
          sycamore, cherry, iroko etc...

          * * * * *

          ### Forest Stewardship Council
          We strive to use only those suppliers who adhere to the rules stipulated
          by the [FSC](http://www.fsc-uk.org/).
