@import "compass";
@import "compass/css3";
@import "base";
@import "header";
@import "home";
@import "kitchen";
@import "features";

body { padding-bottom: 20px; }
textarea { width: 400px; }
footer { margin-top: 15px; }
