@import "base";
@import "bootstrap";
@import "compass";
@import "compass/css3";
@import "header";
@import "home";
@import "kitchen";
@import "features";

body {
  padding-bottom: 20px;
  font-size: 13px;
}

textarea { width: 400px; }
.footer { margin-top: 15px; }

.map {
  .title {
    @extend legend;
    font-weight: normal;
  }
}

.contact {
  form {
    .control-label { width: 80px; }
    .controls { margin-left: 100px; }
  }
  textarea { width: 350px; }
  .input-small { width: 65px; }
}

.map, .opening-hours, .contact, .map { @include makeColumn(6); }

.opening-hours {
  .title {
    @extend legend;
    font-weight: normal;
    margin-bottom: 15px;
  }
}
