.page-header {
  .header-inner {
    @include makeRow;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .title {
    @include makeColumn(6);
    .company-name {
      @include replace-text-with-dimensions('logo.png', 0, 0);
      margin-bottom: 6px;
    }
  }

  .contact {
    @include makeColumn(6);
    text-align: right;

    p { font-size: round($baseFontSize * 1.2); }
  }
}
