.top-left {
  position: absolute;
  left: 0;
  top: 0;
}

.featured-kitchens {
  position: relative;
  width: 940px;
  height: 529px;

  .kitchen { @extend .top-left; }
  .blurb   { @extend .top-left; }
}
