.top-left {
  position: absolute;
  left: 0;
  top: 0;
}

.featured-kitchens {
  position: relative;
  width: 940px;
  height: 529px;

  .kitchen { @extend .top-left; }

  .blurb {
    @extend .top-left;
    background-color: #222;
    @include opacity(0.80);
    color: #fff;
    width: 30%;
    height: 100%;
    padding: 0 15px;

    p {
      font-size: 1.2em;
      line-height: 1.5;
      margin: 9px 0 0;
    }
  }
}
