.kitchens-index {
  @include makeRow;

  .page-header {
    @include makeColumn(12);
    h1 {
      font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    }
  }

  .slider-container {
    @include makeRow;
    @include makeColumn(7);
  }

  .kitchens {
    height: 405px;
    position: relative;
    margin-bottom: 2em;

    .kitchen {
      @extend .top-left;
      width: 540px;
      height: 405px;
    }

    .image { @extend .top-left; }

    .actions {
      z-index: 2;
      position: absolute;
      bottom: 6px;
      right: 6px;
    }
  }

  .stormer-logo { text-align: center; }

  .description {
    @include makeColumn(5);
    p {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .new-kitchen {
    @include makeColumn(12);
    clear: both;
  }

  .final-message {
    @include makeColumn(12);
  }

  .column {
    width: 50%;
    float: left;
  }
  
  .the-rest {
    clear: both;
  }
}
