.kitchens-index {
  @include makeRow;

  .page-header { @include makeColumn(12); }

  .kitchens {
    height: 315px;
    position: relative;
    margin-bottom: 2em;
    @include makeColumn(7);

    .kitchen {
      @extend .top-left;
      width: 540px;
      height: 405px;
    }

    .image { @extend .top-left; }

    .actions {
      z-index: 2;
      position: absolute;
      bottom: 6px;
      right: 6px;
    }
  }

  .description {
    @include makeColumn(5);
    p {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .new-kitchen {
    @include makeColumn(12);
    clear: both;
  }
}
